<div class="p-3 mb-2 bg-primary text-white">
  <div class="container-fluid">
    <h3>Student Registration!</h3>
    <p>Enter the below fields for student details.</p>
    <form #studentForm="ngForm" (ngSubmit)="SubmitDetails(studentForm.value)">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="studentModel.name"
              name="name"
              (ngModelChange)="nameChanged($event)"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="studentModel.email"
              name="email"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="studentModel.phone"
              name="phone"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="gender">gender:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="studentModel.gender"
              name="gender"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="bloodGroup">Blood Group:</label>
            <select
              class="form-control"
              [(ngModel)]="studentModel.bloodGroup"
              name="bloodGroup"
            >
              <option selected="">A+</option>
              <option *ngFor="let group of groups">{{ group }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Course </label><br />
            <input
              type="radio"
              [(ngModel)]="studentModel.course"
              name="course"
              value="BCA"
            />BCA
            <input
              type="radio"
              [(ngModel)]="studentModel.course"
              name="course"
              value="B.Tech"
            />B.Tech
            <input
              type="radio"
              [(ngModel)]="studentModel.course"
              name="course"
              value="BE"
            />BE
            <input
              type="radio"
              [(ngModel)]="studentModel.course"
              name="course"
              value="B.Sc"
            />B.Sc
          </div>
        </div>
      </div>
      <div class="row" ngModelGroup="address">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Street</label>
            <input
              type="text"
              class="form-control"
              name="street"
              [(ngModel)]="studentModel.address.street"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>City</label>
            <input
              type="text"
              class="form-control"
              name="city"
              [(ngModel)]="studentModel.address.city"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>State</label>
            <input
              type="text"
              class="form-control"
              name="state"
              [(ngModel)]="studentModel.address.state"
            />
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label
          ><input
            type="checkbox"
            [(ngModel)]="studentModel.sendUpdates"
            name="sendUpdates"
          />
          send me updates</label
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br />
  <h5>StudentForm value:</h5>
  {{ studentForm.value | json }}
  <h5>StudentModel value:</h5>
  {{ studentModel | json }}
</div>
